html
    head
        title Home
    body(ng-app='appTemp')
        div(ui-view="", class='fade-in-up') 
        | Hello there 1 1231 12
    script(type='type/javascript', src='../assets/js/main-angular-components.js')
